## To create the data files according to the product catergory

In [1]:
import pandas as pd
import numpy as np

# Assuming your original dataset is loaded into a DataFrame called 'original_data'
# Make sure to replace 'original_data.csv' with the actual file path if needed.
data =pd.read_csv('C:\\Users\\ishwa\\Downloads\\krr dataset\\final\\retail_data.csv')

In [2]:
# Convert 'PurchaseDate' to datetime format
data['PurchaseDate'] = pd.to_datetime(data['PurchaseDate'])

# Extract temporal features

data['PurchaseMonth'] = data['PurchaseDate'].dt.month
data['PurchaseQuarter'] = data['PurchaseDate'].dt.quarter
data['DayOfWeek'] = data['PurchaseDate'].dt.dayofweek

In [3]:
dele=['CustomerID', 'MarketingExpenditure','AnnualIncome','SpendingScore','PaymentMethod','StoreID', 'PurchaseDate','DiscountPercent' ]
data=data.drop(columns=dele, axis=1)

In [4]:
from sklearn.preprocessing import LabelEncoder

# Assuming 'ProductCategory' is a categorical column in your dataset
le = LabelEncoder()
# Fit and transform the 'ProductCategory' column
data['ProductType'] = le.fit_transform(data['StoreLocation'])

In [5]:
data.head()

,Age,Gender,ProductCategory,ProductPrice,StoreLocation,DiscountApplied,ProductCost,Profit,FootTraffic,InventoryLevel,CompetitorPrice,PurchaseMonth,PurchaseQuarter,DayOfWeek,ProductType
0,58,Male,Health & Beauty,147.43,San Jose,True,109.10,38.33,336,26,171.55,6,2,5,9
1,57,Male,Health & Beauty,402.09,Los Angeles,True,398.07,4.02,491,32,419.19,6,2,0,3
2,39,Female,Groceries,958.45,Philadelphia,False,958.45,0.00,157,3,835.92,10,4,2,5
3,33,Male,Electronics,544.17,Dallas,False,544.17,0.00,223,87,620.36,8,3,4,1
4,18,Male,Health & Beauty,645.75,San Antonio,False,645.75,0.00,315,8,600.49,6,2,1,7

In [6]:
data=data.drop(columns='StoreLocation', axis=1)

In [7]:
data=data.drop(columns='DiscountApplied', axis=1)

In [8]:
data.head()

,Age,Gender,ProductCategory,ProductPrice,ProductCost,Profit,FootTraffic,InventoryLevel,CompetitorPrice,PurchaseMonth,PurchaseQuarter,DayOfWeek,ProductType
0,58,Male,Health & Beauty,147.43,109.10,38.33,336,26,171.55,6,2,5,9
1,57,Male,Health & Beauty,402.09,398.07,4.02,491,32,419.19,6,2,0,3
2,39,Female,Groceries,958.45,958.45,0.00,157,3,835.92,10,4,2,5
3,33,Male,Electronics,544.17,544.17,0.00,223,87,620.36,8,3,4,1
4,18,Male,Health & Beauty,645.75,645.75,0.00,315,8,600.49,6,2,1,7

In [9]:
import pandas as pd

# Assuming you have a DataFrame named 'df' with a column 'category' representing product categories
# and other columns for data.

# Example DataFrame

#df = pd.DataFrame(data)

# Get unique categories
categories = data['ProductCategory'].unique()

print(categories)

['Health & Beauty' 'Groceries' 'Electronics' 'Books' 'Home & Kitchen'
 'Clothing']

In [10]:
df=data.sample(frac=0.001)

In [11]:
# Create separate datasets for each category
category_datasets = {}
for category in categories:
    category_datasets[category] = df[df['ProductCategory'] == category].copy()

In [12]:
# Save each dataset to a separate file
for category, dataset in category_datasets.items():
    file_name = f"{category}_dataset.csv"
    dataset.to_csv(file_name, index=False)
    print(f"Dataset for {category} saved to {file_name}")

Dataset for Health & Beauty saved to Health & Beauty_dataset.csv
Dataset for Groceries saved to Groceries_dataset.csv
Dataset for Electronics saved to Electronics_dataset.csv
Dataset for Books saved to Books_dataset.csv
Dataset for Home & Kitchen saved to Home & Kitchen_dataset.csv
Dataset for Clothing saved to Clothing_dataset.csv